* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    background-image: url(./image/background.jpg);
}

.shadow {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: 740px;
    border: 1px solid grey;
    background-color: rgb(248, 248, 248);
}

.form {
    width: 300px;
    height: 50px;
}

.start {
    width: 200px;
    height: 30px;
    margin-top: 20px;
}

.main-gallery {
    display: flex;
    margin-top: 20px;
}

.width img {
    width: 110px;
    height: 110px;
}